{% load static %}
<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title%} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link rel="shortcut icon" type="image/png" href="{% static 'account/images/icon/logo.png' %}" -->
        <link rel="stylesheet" href="{% static 'account/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/metisMenu.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/slicknav.min.css' %}">
        <!-- amchart css -->
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <!-- others css -->
        <link rel="stylesheet" href="{% static 'account/css/typography.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/default-css.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'account/css/responsive.css' %}">
        {% block head %}
        
        {% endblock %}
        <!-- modernizr css -->
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- preloader area start -->
        <div id="preloader">
            <div class="loader"></div>
        </div>

        {% block content %}
        
        {% endblock %}

        <!-- preloader area end -->
        <script src="{% static 'account/js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <!-- jquery latest version -->
        <script src="{% static 'account/js/vendor/jquery-2.2.4.min.js' %}"></script>
        <!-- bootstrap 4 js -->
        <script src="{% static 'account/js/popper.min.js' %}"></script>
        <script src="{% static 'account/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'account/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'account/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'account/js/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'account/js/jquery.slicknav.min.js' %}"></script>
        
        <!-- others plugins -->
        <script src="{% static 'account/js/plugins.js' %}"></script>
        <script src="{% static 'account/js/scripts.js' %}"></script>
        {% block script %}
        
        {% endblock %}
    </body>
</html>