{% extends "registration/base.html" %}
{% load static %}
{% block title %} Reset Password {% endblock %}
{% block content %}
    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form method=POST id="post-form" action="">
                    {% csrf_token %}
                    <div class="login-form-head">
                        <h4>Reset Password</h4>
                    </div>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div  class='alert alert-danger'  role="alert">
                                    {{ message }}
                                    </div>
                                {% else %}
                                    <div  class='alert alert-{{ message.tags }}'  role="alert">
                                    {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="login-form-body">
                        
                        <div class="form-gp">
                            <label for="{{form.password.id_for_label}}">New Password</label>
                            {% comment %} <input type="text" name='username' required_id="id_username"> {% endcomment %}
                            {{form.password}}
                            {% for help in form.password.help_text %}
                                {{help}}</br>
                            {% endfor %}
                            <i class="ti-password"></i>
                        </div>
                         <div class="form-gp">
                            <label for="{{form.password1.id_for_label}}">Confirm Password</label>
                            {% comment %} <input type="text" name='username' required_id="id_username"> {% endcomment %}
                            {{form.password1}}
                            <i class="ti-password"></i>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){


            var $myform = $('#post-form');
            var $urlData = $myform.attr('data-url');

            $myform.submit(function(event){
                event.preventDefault();
                var $formData = $myform.serialize();
                var $urlData = $myform.attr('data-url');
                console.log($urlData)
                $.ajax({

                    method: "POST",
                    url: window.location.href,
                    data: $formData,
                    success: handleSuccess,
                    error: handelError

                });
                function handleSuccess(data){
                    
                  if (data.success){
                    window.location.href = "{% url 'account:view-login' %}";
                    
                  }else if (data.error){
                    var errorBegin = '<div class="alert alert-danger error-list">';
                    var errorEnd   = '<div>';

                    $(".login-form-head").after(errorBegin + data.error + errorEnd )
                  }
                     
                };
                
                function handelError(ThrowError){
                   console.log(ThrowError);
                }

                
            })
        })
    </script>
{% endblock %}